/* Global */

html, body {
  height: 100%;
  margin: 0;
  background-color: #fb6233; 
}

body {
    font-family: "Mono", monospace;
    color: #4822C3;
    text-align: justify;
}

.site-global {
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.site-content {
    flex: 1;
    padding-top: 3rem;
    margin: 0 1rem;
}

a {
  text-decoration: none;
  color: #4822C3;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

/* Homepage */

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 400px;
}

.typed-intro {
  padding-top: 1rem;
  min-height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.bio {
  max-width: 800px;
  margin: 2rem 1rem 0 1rem;
  line-height: 1.35;
  position: static;
  width: 100%;
  text-align: center;
}

#typed-text {
  font-family: 'Mono', monospace;
  font-size: 100px;
  color: #4822C3;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

/* Post archive */

.filters-container {
  display: flex;
  flex-direction: row;
  gap: .3rem;
}

.archive-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.archive-title {
  background: none;
  border: none;
  color: #4822C3;
  font-family: "Mono", monospace;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.archive-title:hover {
  text-decoration: underline;
}

.archive-title.active {
  text-decoration: underline;
}

/* Header */

.header {
  background-color: #fb6233;
  padding: .5rem;
  position: sticky;
  top: 0;
  z-index: 9999;
  
}

.header .container {
  max-width: 800px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: .5rem;
}

.site-title {
  text-decoration: none;
  font-size: 1.7rem;
  font-family: "Frick", serif;
  margin: 0;
  line-height: 1;
  display: flex;
  align-items: center;
}

.site-title:hover {
  color: #4822C3;
  text-decoration: none;
}

/* Nav menu */

.menu ul {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  padding: 0;
  gap: 1rem;
}

.menu ul li:hover {
  text-decoration: underline;
}

.menu a {
    text-decoration: none;
}

/* Footer */

.site-footer {
    display: flex;
    font-size: 0.9rem;
    background-color: #fb6233;
    color: #4822C3;
    width: 100%;
    padding: 1rem 0;
}

.site-footer .wrapper {
    max-width: 800px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-links {
    display: flex;
    font-family: "Frick", sans-serif;
    gap: 2rem;
}

/* Typefaces */

@font-face {
  font-family: "Frick";
  src: url('../assets/fonts/Frick/Frick.woff2') format('woff2'),
       url('../assets/fonts/Frick/Frick.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mono";
  src: url('../assets/fonts/Mono/Mono.woff2') format('woff2'),
       url('../assets/fonts/Mono/Mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Terminal";
  src: url('../assets/fonts/Terminal/terminal.woff2') format('woff2'),
  url('../assets/fonts/Terminal/terminal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pilowlava";
  src: url('../assets/fonts/Pilowlava/Pilowlava.woff2') format('woff2'),
  url('../assets/fonts/Pilowlava/Pilowlava.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}