<p>
    My name is Vasily, I am a software engineer and designer
    graduating from NYU next spring. I am interested in 
    building data vizualizations and web applications that,
    I hope, can improve someone's life someday.<br><br>
    I am also a big fan of the open source community and
    have made small contributions to projects such as
    Mattermost and Graphhopper. Oh, and I read and
    write and listen to stuff too! Go to the <a href="{{ site.baseurl }}/archive">blog</a>
    section of this website to check it out. Pretty please!<br><br>
    You can take a look at my projects if you click here. Some of them
    you will be able to view on this website in full, others are just previews
    (for now). They are all public, though, so if you spot
    a bug or a spelling mishap, feel free to raise an issue on Github.<br><br>
    
    I am incredibly open to new professional friends and connections,
    please feel free to reach out to me on <a href="{{ site.linkedin.profile_url }}">LinkedIn</a>, via 
    <a href="{{ site.mail.mailto }}">email</a>, or on other social media platforms.
</p>